#small{
    width: 300px;
    height: 350px;
    position: relative;
    box-shadow: 0 0 5px #000;
    float: left;
    margin-left: 20px;
}
#small img{
    margin: 0;
    padding: 0;
    width: 300px;
    height: 350px;
}	
#frame{
    width: 60px;
    height: 70px;
    box-shadow: 0 0 5px #000;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;	
    display: none;
}
#film{
    width: 300px;
    height: 350px;
    position: absolute;
    left: 0;
    top: 0;
    z-index:999;
    cursor: none;
}
#big{
    width: 300px;
    height: 350px;
    overflow: hidden;
    box-shadow: 0 0 5px #000;
    margin-left: 5px;
    float: left;
    position: relative;
    display: none;
    z-index: 20;
    margin-top: 25px
}
#big img{
    width: 1500px;
    height: 1750px; 
    position: absolute;
    left: 0;
    top: 0;
}
#tit{
    position: absolute;
    z-index: 10;
    left: 330px;
}
